.container, h1{
    color: red;
}
.container{
    border: 5px  solid black;
    margin:0 auto;
    width: 75%;
    text-align: center;
}
.flex-box-container{
    border-top: 5px solid black;
    justify-content: space-around;
    padding:10px
}
.flex-box-container img{
    margin:10px;
    box-shadow: 0px 10px 50px rgb(0,0,0,0.7);
}
